/*-------------------------------------------------------------------------------------------------
General
-------------------------------------------------------------------------------------------------*/
* {
    font-family:Helvetica, Arial, sans-serif;
    color:#333;
}



/*-------------------------------------------------------------------------------------------------
Layout
-------------------------------------------------------------------------------------------------*/
.wrapper {
    margin: 300px 300px;


}
.options {

    margin: 0 30px;

}

#head {
    width: 100%;
    font-weight: bold;
    background-color: lavender;
    text-align: center;

}

#results{
    border: 1px solid #050403;


}
#add-on {
    padding: 25px;


}
#sub-head {
    font-weight: bold;
}


