/*-------------------------------------------------------------------------------------------------
General
-------------------------------------------------------------------------------------------------*/
* {
    font-family:impact;
    color:#333;
}



/*-------------------------------------------------------------------------------------------------
Layout
-------------------------------------------------------------------------------------------------*/
.wrapper {
    margin: 100px 500px;


}
.options {

    margin: 0 30px;

}

